<mat-card>
    <mat-card-title>Drivers</mat-card-title>

    <div class="centered-spinner">
        <mat-spinner [hidden]="!loading" mode="indeterminate"></mat-spinner>
    </div>

    <table [hidden]="loading" mat-table [dataSource]="drivers">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let driver"> 
                <a [routerLink]="['/driver']" 
                    [queryParams]="{driver: driver.name}">
                    {{driver.name}}
                </a>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="driverPromptId">
            <th mat-header-cell *matHeaderCellDef> PIN </th>
            <td mat-cell *matCellDef="let driver"> 
                {{driver.driverPromptId > 0 ? driver.driverPromptId : ''}} 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name','driverPromptId']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'driverPromptId'];"></tr>            
    </table>
</mat-card>


<!-- 
                    

-->