<mat-card *ngIf="driver != null">
    <mat-card-title>{{driver.name}}</mat-card-title>

    <div class="driver-container">
        <form (ngSubmit)="onSubmit()" #driverForm="ngForm">

            <app-team [driver]="driver" [showSave]=false
                (teammateChanged)="onTeammateChanged($event)"></app-team>
            
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Social Security Number</mat-label>
                    <input matInput type="password" id="socialSecurityNumber" name="socialSecurityNumber" 
                        [(ngModel)]="driver.socialSecurityNumber">
                </mat-form-field>            

                <mat-form-field appearance="fill">
                    <mat-label>Driver Prompt</mat-label>
                    <input matInput type="number" id="driverPromptId" name="driverPromptId" 
                        [(ngModel)]="driver.driverPromptId">
                </mat-form-field>
                &nbsp;
                <button mat-raised-button color="basic"
                    [disabled]="driver.driverPromptId != null && driver.driverPromptId > 0"
                    (click)="getDriverPin()"
                    type="button" >
                Suggest
                </button>   
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-hint>If blank default RPM will be used.</mat-hint>
                    <mat-label>Rate Per Mile</mat-label>
                    <input matInput type="number" id="ratePerMile" name="ratePerMilej" 
                        [(ngModel)]="driver.ratePerMile">
                    </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Base Percent</mat-label>
                    <input matInput type="number" id="basePercent" name="basePercent" 
                        min="0" max="100"
                        [ngModel]="driver.driverPercent.base * 100 | number: '1.0-0'" 
                        (ngModelChange)="driver.driverPercent.base = $event / 100">
                        <span matSuffix>%&nbsp;</span>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Accessorial Percent</mat-label>
                    <input matInput type="number" id="accessorialPercent" name="accessorialPercent" 
                        min="0" max="100"
                        [ngModel]="driver.driverPercent.accessorial * 100 | number: '1.0-0'" 
                        (ngModelChange)="driver.driverPercent.accessorial = $event / 100">
                        <span matSuffix>%&nbsp;</span>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Tolls Percent</mat-label>
                    <input matInput type="number" id="tollsPercent" name="tollsPercent" 
                        min="0" max="100"
                        [ngModel]="driver.driverPercent.tolls * 100 | number: '1.0-0'" 
                        (ngModelChange)="driver.driverPercent.tolls = $event / 100">
                        <span matSuffix>%&nbsp;</span>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Empty Percent</mat-label>
                    <input matInput type="number" id="emptyPercent" name="emptyPercent" 
                        min="0" max="100"
                        [ngModel]="driver.driverPercent.empty * 100 | number: '1.0-0'" 
                        (ngModelChange)="driver.driverPercent.empty = $event / 100">
                        <span matSuffix>%&nbsp;</span>
                </mat-form-field>                
                <mat-form-field appearance="fill">
                    <mat-label>Deadhead Percent</mat-label>
                    <input matInput type="number" id="deadheadPercent" name="deadheadPercent" 
                        min="0" max="100"
                        [ngModel]="driver.driverPercent.deadhead * 100 | number: '1.0-0'" 
                        (ngModelChange)="driver.driverPercent.deadhead = $event / 100">
                        <span matSuffix>%&nbsp;</span>
                </mat-form-field>                
                <mat-form-field appearance="fill">
                    <mat-label>Fuel Surcharge Percent</mat-label>
                    <input matInput type="number" id="fuelSurchargePercent" name="fuelSurchargePercent" 
                        min="0" max="100"
                        [ngModel]="driver.driverPercent.fuelSurcharge * 100 | number: '1.0-0'" 
                        (ngModelChange)="driver.driverPercent.fuelSurcharge = $event / 100">
                        <span matSuffix>%&nbsp;</span>
                </mat-form-field>                
            </div>
            <div>
                <app-driver-address (onDirty)="onAddressDirty($event)" 
                    [driver]="driver"></app-driver-address>
            </div>
            <div>
                <mat-form-field appearance="outline" disabled="true">
                    <mat-label>Driver Id</mat-label>
                    <input matInput disabled="true" type="text" id="id" name="id" 
                        [(ngModel)]="driver.id">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" type="submit"
                        [disabled]="!driverForm.dirty || !driverForm.valid">
                    Save
                </button>
            </div>
        
        </form>
    </div>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          Driver Payments
        </mat-expansion-panel-header>
      
        <ng-template matExpansionPanelContent>
            <app-driver-payments
                [driver]="driver">
            </app-driver-payments>
        </ng-template>
    </mat-expansion-panel>
</mat-card>
