<div [hidden]="submitted" *ngIf="driver != null">
    <h1>{{driver.name}}</h1>
    <span>If blank, default will be used.</span>
    <form (ngSubmit)="onSubmit()" #driverForm="ngForm">
    <div>
        <div class="form-group">
            <label for="name">Rate Per Mile</label>
            <input type="number" class="form-control" id="ratePerMile"
                [(ngModel)]="driver.ratePerMile" name="ratePerMile">            
        </div>
        <div class="form-group">
            <label for="name">Base %</label>
            <input type="number" class="form-control" id="basePercent"
                [(ngModel)]="driver.basePercent" name="basePercent">            
        </div>
        <div class="form-group">
            <label for="name">Accessorial %</label>
            <input type="number" class="form-control" id="accessorialPercent"
                [(ngModel)]="driver.accessorialPercent" name="accessorialPercent">            
        </div>
        <div class="form-group">
            <label for="name">SSN</label>
            <input type="text" class="form-control" id="socialSecurityNumber"
                [(ngModel)]="driver.socialSecurityNumber" name="socialSecurityNumber">            
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!driverForm.form.valid">Save</button>

        id: {{driver.id}}
    </div>
    </form>
</div>
