<mat-card>
    <div class="centered-spinner">
      <mat-spinner [hidden]="!loading" mode="indeterminate"></mat-spinner>
    </div>

    <div *ngIf="settlement != null" [hidden]="loading">
        <mat-card-title>Settlement {{settlement.settlementId}}</mat-card-title>
        <mat-card-subtitle>
            Company {{settlement.companyId}} | {{settlement.settlementDate | date}} 
        </mat-card-subtitle>
        <mat-card-content>
            <div><a href=""> &lt;&lt; Previous </a> Week {{settlement.weekNumber}} <a href=""> Next &gt;&gt; </a></div>
        </mat-card-content>
        <mat-drawer-container class="settlement-container" autosize>
            <!-- List of drivers with driver settlements in this settlement history -->
            <mat-drawer #drawer class="settlement-sidenav" mode="side" opened>
              <div>
                <mat-selection-list #driverSettlementSelection 
                    (selectionChange)="selectedDriverChanged($event)"
                    [(ngModel)]="selectedDriverSettlements"
                    [multiple]="false">
                  <mat-list-option class="driver-list-option" 
                    *ngFor="let d of driverSettlements" 
                      [value]="d" [selected]="d.driver === selectedDriver">
                    {{d.driver}}
                  </mat-list-option>
                </mat-selection-list>                
              </div>
            </mat-drawer>      
            <!-- driver settelement for the selected driver -->
            <div class="settlement-sidenav-content">
              <app-driversettlement *ngIf="selectedDriver != null; else promptForSelection"
                [driverSettlement]="driverSettlementSelection.selectedOptions.selected[0].value"
                (driverSettlementChange)="driverSettlementChange($event)">
              </app-driversettlement>
              <ng-template #promptForSelection>
                <div>Please select a driver from the left.</div>
              </ng-template>
            </div>          
          </mat-drawer-container>
    </div>
</mat-card>