<div class="centered-spinner">
    <mat-spinner [hidden]="state != 'loading'" [mode]="loadingProgressMode"></mat-spinner>
    <div *ngIf="state == 'timeoutExpired'">
        <h1 mat-dialog-title>Timeout Error</h1>
        <div mat-dialog-content>
            An error may have occured and the request timed out.  
            Try clicking the refresh button.
        </div>
        <div mat-dialog-actions align="center">
          <button mat-raised-button color="warn" 
                mat-dialog-close cdkFocusInitial
                onclick="window.location.reload()">
            <mat-icon fontIcon="refresh"></mat-icon>
            Refresh
        </button>
    </div>
</div>
