<mat-card>
  <app-fuel-summary [fuelHighlights]="fuel"></app-fuel-summary>
</mat-card>
<mat-card class="fuel-upload">
   <mat-card-title>Upload Fuel CSV</mat-card-title>
   <mat-card-content>{{fileName || "Select fuel csv file."}}
      <input [hidden]="saving" type="file" class="file-input"
        (change)="onFileSelected($event)" #fileUpload>
      
      <div class="file-upload">
          <button [hidden]="saving" mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
          </button>
      </div>
      <mat-progress-bar [hidden]="!saving" [mode]="uploadProgress" value="100"></mat-progress-bar>
   </mat-card-content>
 </mat-card>
