<form (ngSubmit)="onSubmit()" #addEntryForm="ngForm">
    <div class="form-row">
        <div class="col">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description"
                [(ngModel)]="entry.description" name="description">            
        </div>
        <div class="col">
            <label for="credit">Credit</label>
            <input type="number" class="form-control" [(ngModel)]="entry.creditAmount" name="credit">
        </div>
        <div class="col">
            <label for="deduction">Deduction</label>
            <input type="number" class="form-control" [(ngModel)]="entry.deductionAmount" name="deduction">
        </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!addEntryForm.form.valid">
        Add
    </button>
</form>