.manual-row {
    min-height: 20px;
    min-width: 80px;
  }

  .manual-row-data {
    text-align: right;
    padding-left: 5px;
  }

  .manual-actions {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }
  /* .active {
      color: pink;
  } */

  .mat-card, .mat-expansion-panel {
    margin-bottom: 10px;
  }

  .app-team {
    position: absolute;
    left: 5px;
  }