<div *ngIf="driverSettlement!=null">
    <h3>
        <a [routerLink]="['/driver']" 
            [queryParams]="{driver: driverSettlement.driver}">
            {{driverSettlement.driver}}
        </a>
    </h3>
    <table style="table-layout: auto; width: 50%;">
        <tr>
            <th>Settlement</th>
            <td>
                <a [routerLink]="['/settlement-detail']" 
                    [queryParams]="{companyId: driverSettlement.companyId, 
                                    settlementId: driverSettlement.settlementId}">
                {{driverSettlement.settlementId}}
                </a>
            </td>
        </tr>
        <tr>
            <th>Week</th>
            <td>
                <button>
                    <a [routerLink]="['/driver-settlement']" 
                    [queryParams]="{companyId: driverSettlement.companyId, 
                                    year: driverSettlement.year,
                                    week: getPreviousWeek(driverSettlement.week),
                                    driver: driverSettlement.driver}">
                        << Previous
                    </a>
                </button>
                &nbsp;<b>{{driverSettlement.week}}</b>&nbsp;
                <button>
                    <a [routerLink]="['/driver-settlement']" 
                    [queryParams]="{companyId: driverSettlement.companyId, 
                                    year: driverSettlement.year,
                                    week: getNextWeek(driverSettlement.week),
                                    driver: driverSettlement.driver}">
                        Next >>
                    </a>    
                </button>            
            </td>
        </tr>
        <tr>
            <th>Truck</th>
            <td>{{formatTrucks(driverSettlement.trucks)}}</td>
        </tr>
        <tr>
            <th>Miles</th>
            <td>{{driverSettlement.milesTotal}}</td>
        </tr>        
        <tr>
            <td>Base</td>
            <td>{{driverSettlement.baseTotal | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>FSC</td>            
            <td>{{driverSettlement.fscTotal | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>Accesorials</td>
            <td>{{driverSettlement.accessorialTotal | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>Total Credits</td>
            <td>{{driverSettlement.creditsTotal | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>Total Income</td>
            <td>{{driverSettlement.income | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>Total Deductions</td>
            <td>{{driverSettlement.deductionsTotal | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>Qualcomm</td>
            <td>{{driverSettlement.qualComm | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>Occupational Ins</td>
            <td>{{driverSettlement.occupationalInsurance | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>Previous Negative Balance</td>
            <td>{{driverSettlement.previousNegativeBalance | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>Fuel</td>
            <td>{{driverSettlement.fuel | number:'0.2-2'}}</td>
        </tr>        
    </table>

    <hr />

    <table style="table-layout: auto; width: 100%;">
        <tr>
            <th>Load</th>
            <th>Miles</th>
            <th>Revenue</th>
            <th>Base</th>
            <!--<th>FSC</th>-->
            <th>Deadhead</th>
            <th>Empty</th>
            <th>Tolls</th>
            <th>Other</th>
        </tr>
        <tr *ngFor="let c of driverSettlement.credits">
            <td>{{c.proNumber}}</td>
            <td>{{c.miles > 0 ? c.miles : ""}}</td>
            <td>{{c.extendedAmount > 0 ? (c.extendedAmount | number:'0.2-2') : ""}}</td>
            <td>{{c.creditAmount > 0 ? (c.creditAmount | number:'0.2-2') : ""}}</td>
            <!--<td>{{c.advanceAmount | number:'0.2-2'}}</td>-->
            <td>{{c.deadHead > 0 ? (c.deadHead | number:'0.2-2') : ""}}</td>
            <td>{{c.empty > 0 ? (c.empty | number:'0.2-2') : ""}}</td>
            <td>{{c.tolls > 0 ? (c.tolls | number:'0.2-2') : ""}}</td>
            <td>{{c.other > 0 ? (c.other | number:'0.2-2') : ""}}</td>
        </tr>
    </table>

    <div>
        <h4>Credits</h4>
        <app-manual-credits [driverSettlement]="driverSettlement"></app-manual-credits>
        <app-settlement-entry (newManualEntryEvent)="addManualEntry($event)"></app-settlement-entry>    
    </div>

    <h4>Amount Due: {{driverSettlement.amountDue.toDisplay()}}</h4> 
    <button type="submit" class="btn btn-secondary" (click)="recreate()">Recreate</button>    
    <br/>
    <a href={{getWorkbookLink(driverSettlement)}}>
        Download Workbook
    </a>
    <hr />
    <app-driver-settlement-notes [driverSettlement]="driverSettlement"></app-driver-settlement-notes>
</div>