<div *ngIf="driverSettlement!=null">
    <h3>
        <a [routerLink]="['/driver']" 
            [queryParams]="{driver: driverSettlement.driver}">
            {{driverSettlement.driver}}
        </a>, Truck {{driverSettlement.trucks}}
    </h3>

    <div>...Team stuff here...</div>

    <app-loads [driverSettlement]="driverSettlement"></app-loads>

    <table style="table-layout: auto; width: 50%;">
        <tr>
            <th>Week</th>
            <td>
                <button>
                    <a [routerLink]="['/driver-settlement']" 
                    [queryParams]="{companyId: driverSettlement.companyId, 
                                    year: driverSettlement.year,
                                    week: getPreviousWeek(driverSettlement.week),
                                    driver: driverSettlement.driver}">
                        << Previous
                    </a>
                </button>
                &nbsp;<b>{{driverSettlement.week}}</b>&nbsp;
                <button>
                    <a [routerLink]="['/driver-settlement']" 
                    [queryParams]="{companyId: driverSettlement.companyId, 
                                    year: driverSettlement.year,
                                    week: getNextWeek(driverSettlement.week),
                                    driver: driverSettlement.driver}">
                        Next >>
                    </a>    
                </button>            
            </td>
        </tr>

        <tr>
            <td>Total Deductions</td>
            <td>{{driverSettlement.deductionsTotal | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>Occupational Ins</td>
            <td>{{driverSettlement.occupationalInsurance | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>Previous Negative Balance</td>
            <td>{{driverSettlement.previousNegativeBalance | number:'0.2-2'}}</td>
        </tr>
        <tr>
            <td>Fuel</td>
            <td>
                <div *ngIf="driver && (driver.driverPromptId || 0) > 0; else noDriverPrompt">
                    <a [routerLink]="['/fuel']" 
                        [queryParams]="{ 
                            year: driverSettlement.year,
                            week: driverSettlement.week,
                            driverPromptId: driver.driverPromptId}">
                        {{driverSettlement.fuel | number:'0.2-2'}}
                    </a>
                </div>
                <ng-template #noDriverPrompt>{{driverSettlement.fuel | number:'0.2-2'}}</ng-template>
            </td>
        </tr>
    </table>

    <hr />

    <div>
        <h4>Manual Credit / Deductions</h4>
        <app-manual-entries 
            (deleteManualEntryEvent)="deleteManualEntry($event)" 
            [driverSettlement]="driverSettlement">
        </app-manual-entries>
        <app-settlement-entry 
            (newManualEntryEvent)="addManualEntry($event)">
        </app-settlement-entry>
    </div>

    <h4>Amount Due: {{driverSettlement.amountDue.toDisplay()}}</h4> 
    <button type="submit" class="btn btn-secondary" (click)="recreate()">Recreate</button>    
    <br/>
    <a href={{getWorkbookLink(driverSettlement)}}>
        Download Workbook
    </a>
    <hr />
    <app-driver-settlement-notes [driverSettlement]="driverSettlement"></app-driver-settlement-notes>
</div>