<mat-card>    
    <mat-card-title>Settlement History</mat-card-title>

    <div class="centered-spinner">
      <mat-spinner [hidden]="!loading" [mode]="loadingProgressMode"></mat-spinner>
    </div>

    <table [hidden]="loading" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="companyId">
            <th mat-header-cell *matHeaderCellDef> Company Id </th>
            <td mat-cell *matCellDef="let summary"> {{summary.companyId}} </td>
          </ng-container>

          <ng-container matColumnDef="settlementId">
            <th mat-header-cell *matHeaderCellDef> Settlement Id </th>
            <td mat-cell *matCellDef="let summary">
                <a [routerLink]="['/settlement-detail']" 
                    [queryParams]="{companyId: summary.companyId, settlementId: summary.settlementId}">
                    {{summary.settlementId}}
                </a>                    
            </td>
          </ng-container>

          <ng-container matColumnDef="yearWeek">
            <th mat-header-cell *matHeaderCellDef> Year, Week # </th>
            <td mat-cell *matCellDef="let summary"> {{summary.year}}, {{summary.weekNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="settlementDate">
            <th mat-header-cell *matHeaderCellDef> Settlement Date </th>
            <td mat-cell *matCellDef="let summary"> {{summary.settlementDate | date:'mediumDate'}} </td>
          </ng-container>

          <ng-container matColumnDef="checkAmount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let summary"> {{summary.checkAmount | number: '0.2-2'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>          
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons 
        aria-label="Select page of settlements">
    </mat-paginator>
</mat-card>
