<div *ngIf="summaries != null && summaries.length > 0; else loadingBlock">
    <table>
        <tr>
            <td>Company Id</td>
            <td>Settlement Id</td>
            <td>Year, Week Number</td>
            <td>Settlement Date</td>
            <td>Check Amount</td>
        </tr>
        <tr *ngFor="let summary of summaries">
            <td>{{summary.companyId}}</td>
            <td>
                <a [routerLink]="['/settlement-detail']" 
                [queryParams]="{companyId: summary.companyId, settlementId: summary.settlementId}">
                {{summary.settlementId}}
                </a>
            </td>
            <td>{{summary.year}}, {{summary.weekNumber}}</td>
            <td>{{summary.settlementDate}}</td>
            <td>{{summary.checkAmount}}</td>
        </tr>   
    </table>
</div>
<ng-template #loadingBlock>
    Loading ...
</ng-template>