<div class="container">
    <mat-toolbar color="primary">
        &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="white" d="M18 18.5a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5m1.5-9l1.96 2.5H17V9.5m-11 9A1.5 1.5 0 0 1 4.5 17A1.5 1.5 0 0 1 6 15.5A1.5 1.5 0 0 1 7.5 17A1.5 1.5 0 0 1 6 18.5M20 8h-3V4H3c-1.11 0-2 .89-2 2v11h2a3 3 0 0 0 3 3a3 3 0 0 0 3-3h6a3 3 0 0 0 3 3a3 3 0 0 0 3-3h2v-5l-3-4Z"/></svg>
        <h6>&nbsp;&nbsp;{{title}}</h6>
      <span class="toolbar-spacer"></span>
      <nav>
        <button mat-button color="basic">
          <a routerLink="/settlements" routerLinkActive="active" 
            ariaCurrentWhenActive="page">Settlements</a>
        </button>
        <button mat-button color="basic">
          <a routerLink="/drivers" routerLinkActive="active" 
            ariaCurrentWhenActive="page">Drivers</a>
        </button>
        <button mat-button color="basic">
          <a routerLink="/fuel-upload" routerLinkActive="active" 
            ariaCurrentWhenActive="page">Fuel</a>
        </button>
      </nav>
    </mat-toolbar>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
  <app-version></app-version>
</div>
