<div class="centered-spinner">
    <mat-spinner [hidden]="!loading" mode="indeterminate"></mat-spinner>
</div>

<div>
    <mat-card-actions>
        <button mat-button [hidden]="fuel.length == 0">
            <mat-icon>picture_as_pdf</mat-icon>
            <a [href]="pdfLink">Export PDF</a>
        </button>
    </mat-card-actions>

    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="transactionDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let charge"> {{charge.transactionDate + ' ' + charge.transactionTime | date:'short' }} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="weekNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Week </th>
            <td mat-cell *matCellDef="let charge"> {{charge.weekNumber}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="merchantName">
            <th mat-header-cell *matHeaderCellDef> Merchant </th>
            <td mat-cell *matCellDef="let charge"> {{charge.merchantName}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="merchantLocation">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let charge"> {{charge.merchantCity}}, {{charge.merchantState}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="netCost">
            <th mat-header-cell *matHeaderCellDef> Net </th>
            <td mat-cell *matCellDef="let charge"> {{charge.netCost | number:'0.2-2'}} </td>
            <td mat-footer-cell *matFooterCellDef> <strong>{{fuelTotal > 0 ? (fuelTotal | number:'0.2-2') : ''}}</strong> </td>
        </ng-container>

        <ng-container matColumnDef="driverPromptId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver PIN </th>
            <td mat-cell *matCellDef="let charge"> 
                <app-driver-pin-link [Drivers]="Drivers" [FuelCharge]="charge"></app-driver-pin-link> 
            </td>
            <td mat-footer-cell *matFooterCellDef></td>            
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>    
        <tr mat-footer-row *matFooterRowDef="displayColumns"></tr>
    </table>

    <div *ngIf="showPagnitor">
        <mat-paginator [pageSizeOptions]="[10, 20, 100]"
            showFirstLastButtons 
            aria-label="Select page of fuel">
        </mat-paginator>  
    </div>  
</div>