<div>
    <mat-checkbox class="checkbox-margin" name="isTeamLeader" id="isTeamLeader" 
        [disabled]="teammateDriverId == null"
        (change)="onTeamLeaderChange($event)"
        [checked]="isTeamLeader">Is Team Leader
    </mat-checkbox>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Teammate</mat-label>
        <mat-select #teammateDriverSelect [(value)]="teammateDriverId" 
                (selectionChange)="onTeammateChange($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let d of teamLeaders" [value]="d.id">{{d.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;
    <button mat-raised-button color="basic"
            [disabled]="teammateDriverId != null"
            [hidden]="teammateSuggested"
            (click)="onSuggestTeammate()"
            type="button" >
        Suggest
    </button>
    <button mat-raised-button color="primary"
            [hidden]="!showSave || !teammateSuggested"
            (click)="onSaveClick()"
            type="button" >
        Save
    </button>    
    &nbsp;
    <button mat-raised-button color="basic"
            [disabled]="!teammateSuggested"
            (click)="onResetClick()"
            type="button" >
        Reset
    </button>
</div>