<div>
    <mat-checkbox class="checkbox-margin" name="isTeamLeader" id="isTeamLeader" 
        [hidden]="driver.teammateDriverId == null"
        (change)="onTeamLeaderChange($event)"
        [checked]="driver.isTeamLeader">Is Team Leader
    </mat-checkbox>

<!-- 
    Add the split stuff... 
    NOTE: don't allow "Saving" for Split unless you are the team leader.
-->
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Teammate</mat-label>
        <mat-select #teammateDriverSelect [(value)]="driver.teammateDriverId" 
                (selectionChange)="onTeammateChange($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let d of getTeammates()" [value]="d.id">{{d.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;
    <button mat-raised-button color="basic"
            [disabled]="driver.teammateDriverId != null"
            [hidden]="dirty"
            (click)="onSuggestTeammate()"
            type="button" >
        Suggest
    </button>
    <button mat-raised-button color="primary"
            [hidden]="!showSave || !dirty"
            [disabled]="!(driver.isTeamLeader)"
            (click)="onSaveClick()"
            type="button" >
        Save
    </button>    
    &nbsp;
    <button mat-raised-button color="basic"
            [disabled]="!dirty"
            (click)="onResetClick()"
            type="button" >
        Reset
    </button>
</div>